<style>
	.invoice-pdf {
		margin: 30px;
	}

	.invoice-pdf table {
		width: 100%;
	}
	.invoice-pdf td {
		height: 32px;
	}
</style>
<div class="invoice-pdf">
	<p style="font-size:32px;text-align:center;">請求書</p>
	<table>
		<tr>
			<td>
				<p style="font-size: 24px;">
					{{ customer.company_name }}
					御中
				</p>
				<p>
					下記のとおり、御請求申し上げます。
				</p>
			</td>
			<td>
				<p>発行日 2025年XX月XX日</p>
				<p>〒000-0000</p>
				<p>発行者住所を記載</p>
				<p>担当者名を記載</p>
			</td>
		</tr>
	</table>
	<table style="margin: 24px 0;">
		<tr>
			<td style="font-size:18px;width:150px;">御請求金額</td>
			<td style="font-size:20px;">&yen;{{ total | number_format(0, '.', ',') }}-</td>
		</tr>
	</table>
	<table border="1" cellspacing="0" cellpadding="4">
		<thead>
			<tr>
				<th style="width: 40%;">品名</th>
				<th style="width: 8%;">数量</th>
				<th style="width: 15%;">単価</th>
				<th style="width: 15%;">金額</th>
				<th style="width: 22%;">備考</th>
			</tr>
		</thead>
		<tbody>
			{% for invoice in invoices %}
				<tr>
					<td>{{ invoice.title }}</td>
					<td style="text-align: center;">1</td>
					<td style="text-align: right;">{{ invoice.amount | number_format(0, '.', ',') }}</td>
					<td style="text-align: right;">{{ invoice.amount | number_format(0, '.', ',') }}</td>
					<td>{{ invoice.note }}</td>
				</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">小計</td>
				<td style="text-align: right;">{{ total | number_format(0, '.', ',') }}</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">消費税</td>
				<td style="text-align: right;">{{ (total / 10) | number_format(0, '.', ',') }}</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">合計</td>
				<td style="text-align: right;">{{ (total * 1.1) | number_format(0, '.', ',') }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
